
%row-fl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

%col-fl {
    display: flex;
    flex-direction: column;
} 

%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main__text {
    font-family: Poppins;
    font-size: clamp(12px, 2vw, 18px);
    font-weight: 400;
    line-height: 120%;
}

.green {
    background-color: rgb(48, 153, 117);
}
.bile {
    color: $white;
}